{
    margin:10;
    padding:10;
}


.main-nav{
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    
}

.main-nav li a
{
    color: white;
    text-decoration :none;
    padding: 8px 25px;
    font-family: "roboto", sans-serif;
    font-size: 17px;
}

.main-nav li.active a
{
    border: 2px solid white;

}

.main-nav li a:hover
{
    background-color: orange;
    border: 2px solid white;
}

.logo img{
    width: 200px;
    height : auto;
    float: left;
    margin-top: -38px;
    margin-left: -40px;
}

#inl
{
    width: 110px;
    margin-top: -12px;
    margin-left: 3px;
}

.transbox{

    margin: 30px;
    margin-top: 20px;
    height: 100vh;
    background-size: cover;
    opacity: 0.6;
    background-color: black;
    filter: alpha(opacity=60);
}

body{
    margin-top: 30px;
    height: 100vh;
    background-color: #cccccc;
    background-size: cover;
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin: auto;
}

.here{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1
{
 color: beige;
 text-align: center;
 font-size: 50px;
 text-transform: uppercase;
 margin-top: 200px; 
 margin-left: 80px;  
}

.button
{  
  margin-top: 30px;
  margin-left: 600px;  
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    text-transform: uppercase;
    
}

.btn1:hover
{
    background-color: orange;
}