
.main-nav{
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    
}

.main-nav li a
{
    color: white;
    text-decoration :none;
    padding: 8px 25px;
    font-family: "roboto", sans-serif;
    font-size: 17px;
}

.main-nav li.active a
{
    border: 2px solid white;

}

.main-nav li a:hover
{
    background-color: orange;
    border: 2px solid white;
}

.logo img{
    width: 200px;
    height : auto;
    float: left;
    margin-top: -38px;
    margin-left: -40px;
}

#inl
{
    width: 110px;
    margin-top: -12px;
    margin-left: 3px;
}

.frameset{
    background-color: transparent;
}