{
    margin:0;
    padding:0;
}
    
.main-nav{
    float: right;
    list-style: none;
    margin-top: 25px;
    margin-right: 18px;
}
.main-nav li{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration :none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 17px;
}

.main-nav li.active a
{
    border: 2px solid white;

}

.main-nav li a:hover
{
    border: 2px solid white;
    background-color: orange;
}

.logo img{
    width: 220px;
    height : auto;
    float: left;
    margin-top: -40px;
    margin-left: -20px;
}
.transbox{

    margin: 20px;
    margin-top: 0px;
    opacity: 0.6;
    background-color: black;
    filter: alpha(opacity=60);
}

body{
    margin-top: 10px;
    background-repeat:no-repeat;
    background-position: center;
    height: 100vh;

    background-size: cover;
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin: auto;
}

h2
{
margin-top: 70px;
font-family: Arial, Helvetica, sans-serif;
margin-right: 240px;
margin-bottom: 5px;
color: gold;
text-align: center;
font-size: 50px;
text-transform: uppercase;
}
p 

{
color: white;
text-align: center;
font-size: 22px;
padding: 10px 10px;
line-height: 37px;
position: relative;
top:3px;
font-family: Arial, Helvetica, sans-serif;
margin-left: 0px;
display: block;
}


form{

    text-align: center;
    padding: 10px 10px;
    line-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    float: center;
    margin-right: 30px;
    color: white;
    font-size: 25px;
    margin-top: 60px;
}

.submit
{
    font-size: 15px;
    margin-top: 25px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 28px;
    text-decoration: none;
    margin-left: 70px;
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
}
.submit:hover
{
    background-color: orange;
}
.button
{
  margin-top: 0px;
  margin-left: 600px;  
  position: relative;
  top:72%;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    
}

.btn1:hover
{
    background-color: orange;
}