{
    margin:10;
    padding:10;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 10px;
    margin-right: 30px;
}
.main-nav li{
    display: inline-block;
    
}

.main-nav li a
{
    color: white;
    text-decoration :none;
    padding: 5px 20px;
    font-family: "roboto", sans-serif;
    font-size: 17px;
}

.main-nav li.active a
{
    border: 2px solid white;

}

.main-nav li a:hover
{
    background-color: orange;
    border: 2px solid white;
}

.logo img{
    width: 120px;
    height : auto;
    float: left;
}

body{
    background-color: #cccccc;
    background-position: center;
    height: 100vh;
    background-size: cover;
    font-family: monospace;
}
p{
    color: white;
    margin-left: 30px;
}
.row{
    max-width: 1200px;
    margin: auto;
}

h1
{
 color: beige;
 text-align: center;
 font-size: 50px;
 font-family: 'Courier New', Courier, monospace;
 text-transform: capitalize;
 padding: 10px;
 margin-left: 110px;  
 margin-bottom: 130px;
 
}

form

{
color: white;
float: center;
text-align: center;
font-size: 25px;
display: block;
font-family: Arial, Helvetica, sans-serif;
margin-left: 20px;
margin-top: 30px;
}

.submit
{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 600px;
    float: center;
    text-align: center;
    text-decoration: none;
    display: block;
    
}

.button
{
  margin-top: 30px;
  margin-left: 600px;  
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    text-transform: uppercase;
    
}

.btn1:hover
{
    background-color: orange;
}
